# -*- mode: Jinja Templates -*-
{%
  set init = {
    'Debian': {
      'type': 'upstart',
      'path': '/etc/init/logstash'
    }
  }.get(grains.os_family, {'type': 'init',
                           'path': '/etc/init.d/logstash'})
%}

{%
  set logstash = {
    'version': '1.2.1',
    'bin': '/usr/local/bin/logstash',
    'path': '/opt/logstash',
    'jar': '/opt/logstash/logstash.jar',
    'jar_hash': 'md5=863272192b52bccf1fc2cf839a888eaf',
    'init_script': 'salt://logstash/script/logstash-' + init['type'],
    'init_path': init['path'],
    'init_type': init['type'],
    'redis_host': salt['config.get']('logstash:redis_host', '127.0.0.1'),
    'patterns': '/opt/logstash/patterns',
    'debug': salt['config.get']('logstash:debug', False)
  }
%}

{%
  set package = {
    'redis': 'redis-server',
    'elasticsearch': 'https://download.elasticsearch.org/elasticsearch/elasticsearch/elasticsearch-0.90.5.deb'
  }
%}

{%
  set service = {
    'redis': 'redis-server',
    'elasticsearch': 'elasticsearch'
  }
%}