# -*- mode: yaml -*-
{% from "logstash/map.jinja" import logstash with context %}
{% set config = '/etc/logstash/logstash-' + role + '.conf' %}

include:
  - logstash

logstash-{{role}}-config:
  file.managed:
    - name: /etc/logstash/logstash-{{role}}.conf
    - source: salt://logstash/conf/{{role}}.conf
    - template: jinja
    - replace: False
    - require:
      - file: logstash-bin

logstash-{{role}}-init-script:
  file.managed:
    {% if logstash.init_type == 'upstart' %}
    - name: {{logstash.init_path}}-{{role}}.conf
    {% else %}
    - name: {{logstash.init_path}}-{{role}}
    - mode: 555
    {% endif %}
    - template: jinja
    - source: {{logstash.init_script}}
    - defaults:
        config: {{config}}
        logstash_bin: {{logstash.bin}}
        jar_role: agent
        role: {{role}}
    - require:
      - file: logstash-{{role}}-config

{% if logstash.init_type == 'upstart' %}
logstash-{{role}}-upstart-reload:
  cmd.wait:
    - name: initctl reload-configuration
    - watch:
      - file: logstash-{{role}}-init-script
logstash-{{role}}-upstart-symlink:
  file.symlink:
    - name: /etc/init.d/logstash-{{role}}
    - target: /lib/init/upstart-job
    - require_in:
      - file: logstash-{{role}}-init-service
    - require:
      - file: logstash-{{role}}-init-script
{% endif %}

logstash-{{role}}-init-service:
  service.running:
    - name: logstash-{{role}}
    - enable: True
    - require:
      - file: logstash-{{role}}-init-script